<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="e1" class="Employee">
<property name="id" value="101"></property>
<property name="name" value="ketan"></property>
<property name="address" value="Ramnagar"></property>
<property name="salary" value="100000"></property>
</bean>
<bean id="mydatasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
<property name="url" value="jdbc:mysql://localhost:3306/emp"></property>
<property name="username" value="root"></property>
<property name="password" value="root"></property>
</bean>
<bean id="jdbctemp" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="mydatasource"></property>
</bean>
<bean id="impl" class="DaoImpl">
<property name="jtemp" ref="jdbctemp"></property>
</bean>
</beans>
